%li.list-article.fields
  %ol
    = f.input :headword, required: true, input_html: { class: 'headword-autocomplete' }
    = f.input :published_on, required: true, wrapper_html: { class: 'list-article-date' }, input_html: { class: 'date-field' }
    %li= remove_child_link(t('pages.delete').downcase, f)
