%li.grid_3{class: alpha_omega(a_counter, list_size)}
  - unless a.article.blank?
    = link_to pretty_article_path(a.article), :class => 'featured' do

      - if a.article.medias.first
        - imgurl = a.article.medias.first.file.thumb("220x175#nw").url
      - else
        - imgurl = "http://dummyimage.com/220x175/bf/fff&text=#{a.headword}"

      %img{src: imgurl, alt: a.headword}
      %p.caption= a.headword
