%figure
  - i = image.file.thumb("288x>")
  - begin
    %img{:src => i.url}
  - rescue Dragonfly::DataStorage::DataNotFound
    %img{:src => "http://dummyimage.com/288x200/bf/fff&text=#{i.uid}" }
  %figcaption= image.description
