%figure
  - i = image.file.thumb("700x400#nw")
  - begin
    = df_image_tag(i.url)
  - rescue Dragonfly::DataStorage::DataNotFound
    %img{:src => "http://dummyimage.com/480x320/bf/fff&text=#{i.uid}" }
  %figcaption= image.description
