.bundle
db/*.sqlite3
log/*.log*
tmp/**/*
coverage/*
.sass-cache
config/facebook.yml
config/map.yml
config/s3-env.sh
.DS_Store
tmp/restart.txt
public/assets/*
solr/data/**/*
config/newrelic.yml
config/asset_id.yml
