.bundle
.powenv
db/*.sqlite3
log/*.log*
tmp/**/*
coverage/*
.sass-cache
config/facebook.yml
config/map.yml
.DS_Store
tmp/restart.txt
solr/data/**/*
config/asset_id.yml

# Ignore application configuration
/config/application.yml
