body {
  @include serif;
  font-size: 100%;
}

header {
  .title {
    @include large-sans;
    @include no-underline;
    font-size: $font19px;
    color: $link-visited-color;
  }
  #user-links {
    @include small-sans;
    font-size: $font12px;
    color: $text-color;
  }

  #q + button {
    @include submit-button-typography;
  }
}

nav {
  font-weight: bold;
  @include no-underline;
}

#messages {
  @include small-sans;
}

#main {
  header {
    h1 {
      font-size: $font32px;
      font-weight: bold;
      color: white;
      @include no-underline;
      a {
        color: white;
      }
    }
  }

  color: $text-color;

  .join-us-teaser {
    span {
      font-style: italic;
      font-size: $font32px;
    }
  }

  aside.intro {
    @include small-sans;
  }
  .alphabetic li {
    @include small-sans;
    @include no-underline;
    font-size: $font12px;
    line-height: 1.67;
  }
  .facebook {
    @include small-sans;
    font-size: $font12px;
    dl {
      dt {
        font-weight: bold;
        line-height: 1.5;
        margin-top: 5px;
      }
      dd {

      }
    }
  }
  table.versions + input[name="commit"] {
    @include submit-button-typography;
  }
  table.versions, table.articles {
    @include small-sans;
    caption, tfoot {
      font-size: $font12px;
    }
    tfoot {
      @include no-underline;
    }
    th {
      font-size: $font12px;
      font-weight: bold;
      text-transform: uppercase;
      @include no-underline;
    }
  }

}

article {
  .articletext {
    @include articletext-typography;
  }
  aside.disambiguation {
    font-style: italic;
    font-size: $font14px;
  }
  h2 {
    font-size: $font20px;
    font-weight: bold;
    color: darken($text-color, 5%);
  }
  h3 {
    font-size: $font17px;
    font-weight: bold;
  }
  aside.image {
    p {
      @include small-sans;
      color: $dark-grey-color;
      font-size: $font12px;
      &:first-of-type {
        margin-top: 5px;
      }
    }
  }
  .tags, .external-links {
    @include small-sans;
    color: $dark-grey-color;
    font-size: $font12px;
    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

aside.info, aside.back-link, .redirected {
  @include small-sans;
  font-size: $font12px;
  color: $light-grey-color;
  @include no-underline;
}

aside.meta {
  figcaption {
    @include small-sans;
    font-size: $font12px;
    line-height: 1.2em;
    font-weight: normal;
  }
}

.redirected {
  font-style: italic;
}

.action-links, .action-buttons a {
  @include small-sans;
  font-size: $font12px;
}

.article_list {
  h2 {
    font-size: $font16px;
    color: #222;
    font-weight: bold;
  }
  .actions, .deleted {
    @include small-sans;
    font-size: 12px;
    color: $light-grey-color;
  }
}

.manual_article_list {

  @include no-underline;
  a.featured {
    color: white;
    font-weight: bold;
  }
}

.sorted_article_list, .tags_article_list {
  li {
    @include small-sans;
    @include no-underline;
    font-size: $font12px;
    a {
      color: $text-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.search-pagination {
  @include small-sans;
  font-size: $font12px;
}

.search-results {
  h2 {
    font-weight: bold;
    @include no-underline;
  }
  a.full-url {
    text-decoration: none;
    color: $link-search-result-color;
    font-size: $font12px;
  }
}

.search-no-hits {
  @include small-sans;
  span {
    font-style: italic;
    font-weight: bold;
  }
}

#license-info, .no-images {
  @include small-sans;
  font-size: $font12px;
}

#upload-error, #upload-no-support {
  @include small-sans;
  font-size: $font12px;
  color: $error-color;
}

#upload-error-message {
  @include monospace;
  color: $light-grey-color;
}

form.formtastic {
  fieldset > legend {
    @include small-sans;
    font-weight: bold;
    color: $dark-grey-color;
  }
  fieldset > ol > li, fieldset > ol > li.string, fieldset > ol > li.text {
    p.inline-errors, .inline-errors {
      @include small-sans;
      font-size: $font12px;
      color: $error-color;
      a {
        color: $error-color;
        text-decoration-style: dashed;
      }
    }
    p.inline-hints {
      @include small-sans;
      font-size: $font12px;
      color: $light-grey-color;
    }
    input[type="text"].headword {
      @include serif;
      font-size: $font32px;
      font-weight: bold;
      color: $dark-grey-color;
    }
    input[type="text"] {
      @include small-sans;
      font-size: $font12px;
      color: $dark-grey-color;
    }
    label {
      @include small-sans;
      color: $dark-grey-color;
      font-size: $font12px;
      text-transform: uppercase;
      font-weight: bold;
      abbr {
        text-transform: none;
        color: $light-grey-color;
        font-weight: normal;
      }
    }
    textarea {
      color: $text-color;
      font-size: $font16px;
      line-height: 1.5;
    }
    #file-upload-button,
    input[type="submit"] {
      @include submit-button-typography;
    }
    a {
      @include small-sans;
      font-size: $font12px;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
}

footer {
  @include small-sans;
  font-size: $font11px;
  color: #828589;
}

a {
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $link-visited-color;
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

h2 {
  @include small-sans;
  color: darken($text-color, 5%);
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}

.map-wrapper > a {
  font-size: $font14px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
