$main-background-color: #efefef;
$branding-background-color: #b4b4b4;
$dark-grey-color: #45494f;
$light-grey-color: #7a7a7a;
$light-blue-color: #98cdfa;
$button-color: #2f528f;
$button-alt-color: #fab45b;
$text-color: #383838;
$box-border-color: #ccc;
$link-color: #284D92;
$link-search-result-color: #63995D;
$link-visited-color: darken($link-color, 10%);
$user-links-color: lighten($link-color, 10%);
$message-notice-color: #98bfbc;
$message-alert-color: #f0864c;
$error-color: #b72727;
$diff-removed-color: #FF9098;
$diff-added-color: #ABEEBE;

$article-width: 530px;
$right-col-width: 400px;
$grid-width: 960px;
$login-width: 480px;

$font11px: percentage(11/16);
$font12px: percentage(12/16);
$font14px: percentage(14/16);
$font16px: 100%;
$font17px: percentage(17/16);
$font18px: percentage(18/16);
$font19px: percentage(19/16);
$font20px: percentage(20/16);
$font28px: percentage(28/16);
$font30px: percentage(30/16);
$font32px: percentage(32/16);
