- content_for :title do
  = t('users.profile.profile', :for => @user.name_or_email)

- content_for :header do
  = @user.name_or_email

= render :partial => 'info', :locals => { :user => @user }

%table.articles
  - @user.articles.each do |article|
    %tr
      %td= link_to article.headword, pretty_article_path(article)
