%script{:type => 'text/x-jquery-tmpl', :id => 'media-template'}
  %li{:data => {:file_id => '${upload_id}'}}
    %ol
      %li.image
        %img{:src => '${url}', :alt => '${description}'}
      = m.input :description, :as => :text,
        :input_html => { :cols => 25, :rows => 2, :value => '${description}'},
        :wrapper_html => { :class => 'description'}
      %li
        %button.remove{:type => 'button', :value => 'remove-image', :title => "Fjern bildet"}
          = image_tag('icons/delete.png', :size => '16x16')
      %li.progressbar
        %img{:src => "/images/uploader/animert-loader.gif", :alt => 'Loading…'}
      = m.input :id, :as => :hidden, :input_html => {:class => 'file-id', :value => '${media_id}'}