%li
  %ol
    %li.image= df_image_tag(m.object.file.thumb('150x100').url, :alt => m.object.description)
    = m.input :description, :as => :text, 
      :input_html => { :cols => 25, :rows => 2},
      :wrapper_html => { :class => 'description'}
    = m.input :_destroy, :as => :boolean
    = m.input :_id, :as => :hidden, :input_html => {:class => 'file-id'}