.nested-fields.clearfix
  = f.input :href, wrapper_html: { class: 'grid_4' }
  = f.input :text, wrapper_html: { class: 'grid_2' }
  .grid_6= remove_child_link(t('external_links.destroy').downcase, f)
