%aside.info
  %ul
    %li>= link_to t('articles.contributors'), "TODO"
    %li>= t('articles.last_updated', :time_ago => time_ago_in_words(article.updated_at))
    %li>= link_to t('articles.version_log'), "TODO"
    %li>= link_to t('articles.report_error'), "TODO"
    %li>= image_tag('aside-info-buttons.png')