- content_for :title do
  ! #{t('articles.editing')} #{@article.headword_presentation}

- content_for :header do
  = t('articles.edit')

= render :partial => 'new_edit', :locals => { :article => @article }
