@mixin articletext-typography {
  font-size: $font16px;
  line-height: 1.5;
}

@mixin articletext-layout {
    margin-top: 1em;
    overflow: visible;
    p {
      margin-bottom: 1em;
    }
    ul {
      padding-left: 2em;
      margin-bottom: 1em;
      li {
        list-style-type: disc;
      }
    }
    table {
      border: 1px solid $text-color;
    }
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
}
