article, aside, footer, header, hgroup, nav, section {
	display: block;
	margin: 0;
}

html, body {
  background: $background-color;
}

body {
	.container {
		margin: auto;
		max-width: $container-width;
		@include box-shadow;
	}
}

header {
	background: white;
  @extend .clearfix;
	
	h1.title {
		padding: 1em 0 0.3em $main-padding-left;
		float: left;
	}
	aside.user-links {
		float: right;
		margin-top: 10px;
		margin-right: 65px;
		ul {
			li {
				display: inline;
				margin-left: 1em;
			}
		}
	}
	aside.search {
		float: right;
		margin-top: 20px;
		margin-right: 65px;
	}
	nav {
		clear: both;
	  ul.links {
			padding: 8px $main-padding-left;
			border-top: 2px solid #efeeeb;
			border-bottom: 2px solid #efeeeb;
			ul.letters {
				padding: 0;
				border: none;
				display: inline;
				li {
					margin-right: 0.5em;
				}
			}
			li {
				display: inline;
				margin-right: 1em;
			}
		}
	}
}

#messages {
	background: white;
	padding: 5px 0;
	#notice {
		@include message-box($message-notice-color);
	}
	#alert {
		@include message-box($message-alert-color);
	}
}

#main {
	background: #efefef;

	#content {
		header {
			@include padding-main;
			background: $dark-grey-color;
			h1 {
				padding-top: 0.5em;
				padding-bottom: 0.2em;
			}
		}
		article {
			aside.info {
				@include padding-main;
				padding-top: 2px;
				ul {
					li {
						display: inline;
						margin-right: 0.5em;
						img {
							vertical-align: bottom;
						}
					}
					li.edit-link {
						text-transform: uppercase;
						background: #2f528f;
						padding: 1px 0.4em 0px 0.4em;
						border-radius: 3px;
						-moz-border-radius: 3px;
						a {
							color: white;
						}
					}
				}
			}
			.articletext {
				@include padding-main;
				max-width: $article-width;
				padding-top: 1em;
				overflow: visible;
				p {
					margin-bottom: 1em;
				}
				.image-wrap {
					float: right;
					position: relative;
					width: 128px;
					aside.image {
						margin-top: 6px;
						width: 228px;
						border: 1px solid $box-border-color;
						padding: 5px;
						background: white;
					}
				}
			}
			aside.article-messages {
				@include message-box($message-notice-color);
			}
			form.formtastic.article {
				@include padding-main;
				max-width: $article-width;
				padding-top: 1em;
				textarea {
					width: 100%;
				}
			}
			aside.tags {
				background: white;
				border: 1px solid $box-border-color;
				margin: 1em 65px 2em 35px;
				padding: 1em 14px;
				ul {
					li {
						display: inline;
						&:after {
							content: ", ";
						}
						&:last-of-type:after {
							content: "";
						}
					}
				}
			}
		}
		ul.alphabetic {
			@include padding-main;
		}
		.login {
			@include padding-main;
			.facebook {
				width: $login-width;
				border: 1px solid $box-border-color;
				padding: 5px;
				margin: 20px 0 5px 0;
				background: white;
				@include fb-button;
			}
		}
	}

	.col {
		float: left;
		display: inline;
		width: #{(238/16)}em;
		margin-right: 2px;
		background-color: $dark-grey-color;
	}
	.col.left {
		@include padding-main;
	}

	footer {
		@include padding-main;
		clear: both;
		border-top: 2px solid $dark-grey-color;
		background: white;
		height: 5em;
		p:first-child {
			text-align: right;
			position: relative;
			margin: 2em 65px 0 0;
			padding-right: 110px;
			img {
				position: absolute;
				right: 0;
				top: 50%;
				height: 22px;
				margin-top: -11px;
			}
		}
	}
	@extend .clearfix;
}

.clearfix {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}
