article, aside, footer, header, hgroup, nav, section {
  display: block;
  margin: 0;
}

html, body {
  background: $background-color;
}

body {
  .container {
    margin: auto;
    max-width: $container-width;
    @include box-shadow;
  }
}

#TODO {
  visibility: hidden;
}

header {
  background: white;
  @extend .clearfix;

  .title {
    padding: 30px 0 10px $main-padding-left;
    float: left;
  }
  aside#user-links {
    float: right;
    margin-top: 10px;
    margin-right: 65px;
    ul {
      li {
        display: inline;
        margin-left: 1em;
      }
      li.fb-button {
        @include fb-button;
      }
    }
  }
  aside.search {
    float: right;
    margin-top: 20px;
    margin-right: 65px;
  }
  nav {
    clear: both;
    ul.links {
      padding: 8px $main-padding-left;
      border-top: 2px solid #efeeeb;
      border-bottom: 2px solid #efeeeb;
      ul.letters {
        padding: 0;
        border: none;
        display: inline;
        li {
          margin-right: 0.5em;
        }
      }
      li {
        display: inline;
        margin-right: 1em;
        padding: 6px 0px;
      }
      li.new {
        background: $light-blue-color;
        padding-left: 0.5em;
        padding-right: 0.5em;
        @include rounded-corners;
        &:hover {
          background: $button-alt-color;
        }
      }
    }
  }
}

#messages {
  padding: 5px 0;
  #notice {
    @include message-box(darken($message-notice-color, 10%));
  }
  #alert {
    @include message-box(darken($message-alert-color, 10%));
  }
}

#main {
  background: #efefef;

  header {
    @include padding-main;
    background: $dark-grey-color;
    h1 {
      padding-top: 16px;
      padding-bottom: 2px;
    }
  }

  aside.info, aside.back-link {
    @include padding-main;
    padding-top: 2px;
    ul {
      li {
        display: inline;
        margin-right: 0.5em;
        img {
          vertical-align: bottom;
        }
      }
      li.edit-link {
        text-transform: uppercase;
        background: #2f528f;
        padding: 1px 0.4em 0px 0.4em;
        border-radius: 3px;
        -moz-border-radius: 3px;
        a {
          color: white;
        }
      }
    }
  }
  aside.redirected {
    @include padding-main;
  }
  aside.disambiguation {
    @include margin-main;
    padding: 16px 35px 0 35px;
  }
  .articletext {
    @include articletext-layout;
    float: left;
    overflow: hidden;
  }
  aside.meta {
    float: left;
    padding-top: 16px;
    margin-left: 5px;
    width: 300px;
    
    figure,
    .image-wrap {
      position: relative;
      border: 1px solid $box-border-color;
      padding: 5px;
      background: white;
      @include rounded-corners(0 0 5px 5px);
      
      img {
        display: block;
        margin: 0 auto;
      }
      figurecaption,
      p {
        display: block;
        margin-bottom: 0;
        line-height: 1em;
        font-size: $font14px;
        font-weight: normal;
      }
    }
  }
  aside.external-links {
    margin: 16px 65px 16px 33px;
    clear: both;
    ul {
      li {
        margin-left: 20px;
        list-style: disc;
      }
    }
  }
  aside.tags {
    background: white;
    border: 1px solid $box-border-color;
    margin: 16px 33px 16px 33px;
    padding: 12px 12px 8px 12px;
    clear: both;
    ul {
      li {
        display: inline;
        &:after {
          content: ", ";
        }
        &:last-of-type:after {
          content: "";
        }
      }
    }
  }
  aside.intro {
    @include intro-box;
  }
  .alphabetic {
    @include padding-main;
  }
  .login {
    @include padding-main;
    .facebook {
      width: $login-width;
      border: 1px solid $box-border-color;
      padding: 5px;
      margin: 20px 0 5px 0;
      background: white;
      p.fb-button {
        @include fb-button;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  table.versions, table.articles {
    margin: 20px 0 20px $main-padding-left;
    border: 1px solid $box-border-color;
    caption, tfoot {
      text-align: right;
    }
    td, th {
      padding: 5px;
    }
    tr.current {
      background: mix($message-notice-color, $main-background-color, 25%);
    }
  }

  div.maincol {
    @include padding-main;
  }

  .col {
    float: left;
    display: inline;
    width: #{(238/16)}em;
    margin-right: 2px;
  }
  .col.left {
    @include padding-main;
  }

  footer {
    @include padding-main;
    clear: both;
    border-top: 2px solid $dark-grey-color;
    background: white;
    height: 5em;
    p:first-child {
      text-align: right;
      position: relative;
      margin: 2em 65px 0 0;
      padding-right: 110px;
      img {
        position: absolute;
        right: 0;
        top: 50%;
        height: 22px;
        margin-top: -11px;
      }
    }
  }
  @extend .clearfix;
}

#main form.formtastic {
  fieldset.files {
    float: right;
    padding-left: 0;
    width: 450px;
    
    li#upload-container {
      position: relative;
      
      object {
        z-index: 1000;
        position: relative;
      }
      button {
        z-index: 100;
        position: absolute;
        left: 0;
        margin: 0 !important;
      }
    }
    
    
    &>ol {
      width: 450px;
      
      &>li {
        width: 100%;
        
        overflow: hidden;
        
        ol {
          li {
            float: left;

            label, input {
              width: 100%;
            }
            
            input[type="checkbox"] {
              width: auto;
              margin-right: 5px;
            }
            
            &.image {
              width: 150px;
              
              img {
                max-width: 140px;
              };
            }
            &.description {
              width: 220px;
              margin-right: 10px;
            }
/*            &.empty,
            &.empty + li {
              display: none;
            }
*/          }
        }
      }
    }
    
    textarea {
      float: right;
    }
  }
  fieldset {
    @include padding-main;

    legend {
      font-family: "Lucida Grande", Tahoma, Arial;
      font-weight: bold;
      padding-bottom: 10px;
    }

    &#external-links {
      
      button {
        padding: 0;
        border: 0;
        background-color: inherit;
        cursor: pointer;
        &.add {
          display: none;
        }
        &.remove {
          display: inline;
        }
      }
      
      &> ol > li {
        padding: 5px 0;
        
        &:last-child > ol > li button {
          &.add {
            display: inline;
          }
          &.remove {
            display: none;
          }
        }
      
        ol {        
          overflow: hidden;
          li {
            float: left;
            
            &.link-text {
              label {
                margin-left: 10px;
              }
              
              & + li {
                input {
                  margin: 0 5px 0 10px;
                }
              }
            }
          }
        }
      
        label {
          float: left;
          clear: left;
        }
        input[type="text"] {
          float: left;
          width: 140px;
          margin-left: 10px;
        }
      }
    }
  }
  fieldset > ol > li {
    width: $article-width;
    overflow: visible;
  }
  fieldset > ol > li.error {
    input[type="text"] {
      border: 2px solid $error-color !important;
    }
  }
  fieldset > ol > li {
    .inline-errors {
      margin: 0.5em 0 0 0;
    }
    ul {
      padding-left: 2em;
      margin-bottom: 1em;
      li {
        list-style-type: disc;
      }
    }
    & + #article_location_attributes_map {
      display: none;
    }
  }
  fieldset > ol > li, fieldset > ol > li.string, fieldset > ol > li.text {
    input[type="text"].headword {
      padding: 0.1em 0.2em 0 0.2em;
      margin-top: 0.5em;
    }
    input[type="text"] {
      width: 100%;
      border: 1px solid $box-border-color;
      padding: 0.5em 0.2em 0.5em 0.2em;
    }
    p.inline-hints {
      margin-left: 0;
    }
    label {
      float: none;
      width: auto;
      margin-bottom: 3px;
      abbr {
        padding-left: 1em;
      }
    }
    textarea {
      width: 100%;
      border: 1px solid $box-border-color;
      padding: 0.2em;
    }
    .map-search {
      height: 32px;
      label {
        line-height: 32px;
        display: inline;
      }
      
      input {
        float: right;
        width: 270px;
      }
    }
    .map {
      height: 300px;
    }
    #show-map-link, #hide-map-link {
      line-height: 31px;
      img {
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }
    #file-upload-button,
    input[type="submit"] {
      padding: 0.4em 2em 0.2em 2em;
      background: $button-color;
      @include rounded-corners(4px);
      border: 1px solid lighten($button-color, 5%);
      border-top-color: darken($button-color, 5%);
      border-left-color: darken($button-color, 5%);
      &.hover,
      &:hover {
        background: $button-alt-color;
        border: 1px solid lighten($button-alt-color, 5%);
        border-top-color: darken($button-alt-color, 5%);
        border-left-color: darken($button-alt-color, 5%);
      }
      &.active,
      &:active {
        border: 1px solid darken($button-alt-color, 5%);
        border-top-color: lighten($button-alt-color, 5%);
        border-left-color: lighten($button-alt-color, 5%);
      }
    }
    &#article_location_attributes_map {
      @include rounded-corners(5px);
      padding: 5px;
      margin-top: -1em;
      border: 1px solid $box-border-color;
    }
  }
  .ckeditor {
    .cke_skin_kama .cke_button .cke_button_mimeimage .cke_icon {
      background-position: 0 -576px;
    }
    span.cke_skin_kama {
      border: 1px solid #ccc;
    }
  }
}

.tooltip {

  background-color: #fff;
  padding: 10px;
  width: 300px;

  @include box-shadow;


  span {
    position: absolute;
    height: 1px;
    width: 1px;
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    top: 10px;
    left: -20px;
  }
}

.clearfix {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

#dialog_file_uploadUploader {
  width: 130px;
  height: 40px;
}

#cke_contents_article_text_editor {
  height: 500px !important;
}
