@mixin padding-main {
	padding-left: $main-padding-left;
}


/*
"ff-dagny-web-pro-1","ff-dagny-web-pro-2"
"ff-meta-web-pro-1","ff-meta-web-pro-2"
"ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2"
"garamond-premier-pro-display-1","garamond-premier-pro-display-2"
*/

@mixin main-font {
/*	font-family: "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;*/
	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;
}

@mixin heading-font {
	font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Tahoma, Arial, Helvetica, sans-serif;
}

@mixin small-font {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
