@mixin padding-main {
	padding-left: $main-padding-left;
}

/*
"ff-dagny-web-pro-1","ff-dagny-web-pro-2"
"ff-meta-web-pro-1","ff-meta-web-pro-2"
"ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2"
"garamond-premier-pro-display-1","garamond-premier-pro-display-2"
*/

@mixin main-font {
	font-family: "droid-serif-1", "droid-serif-2";
/*	font-family: "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;*/
/*	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;*/
}

@mixin heading-font {
	font-family: "coolvetica-1", "coolvetica-2";
/*	font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Tahoma, Arial, Helvetica, sans-serif;*/
}

@mixin small-font {
	font-family: "coolvetica-1", "coolvetica-2";
	font-weight: 300;
/*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
}

@mixin fb-button {
	a {
		font-family: 'lucida grande', Tahoma, Verdana, Arial, sans-serif;
		color: #3B5998;
		background: #29447E url(http://static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png) no-repeat;
		background-position: 0% -210px;
		cursor: pointer;
		display: inline-block;
		padding: 0px 0px 0px 1px;
		text-decoration: none;

		span.fb-button-text {
			color: white;
			display: block;
			font-weight: bold;
			margin: 0px 1px 0px 21px;
			padding: 2px 6px 3px;
			background: #4F6AA3;
			border-bottom: 1px solid #29447E;
			border-top: 1px solid #45619D;
			text-shadow: none;
		}
	}
}

@mixin message-box($border) {
	margin: 5px 65px 5px ($main-margin-left - 13px);
	padding: 10px;
	background: $main-background-color;
	border: 3px solid $border;
	@include box-shadow;
	@include rounded-corners(8px);
}

@mixin box-shadow {
	position: relative;
	box-shadow: #777 0px 2px 10px;
	-moz-box-shadow: #777 0px 2px 10px;
	-webkit-box-shadow: #777 0px 2px 10px;
	behavior: url(/stylesheets/PIE.htc);
}

@mixin rounded-corners($radius) {
	position: relative;
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	behavior: url(/stylesheets/PIE.htc);
}
