.wf-inactive {
	header {
		li {
			line-height: 1.5;
		}
	}
	#content {
		h1 {
			line-height: 1.5458;
		}
	}
}

body {
	@include main-font;
	font-size: 100%;
}

header {
	h1.title {
		@include heading-font;
		font-size: $font30px;
		font-weight: 700;
		color: $dark-grey-color;
	}
	aside.user-links {
		@include small-font;
		font-size: $font16px;
	}
	nav {
		font-weight: bold;
	}
}

#messages {
	@include small-font;
	font-size: $font14px;
	a {
		text-decoration: underline;
	}
}

#content {
	header {
		h1 {
			font-size: $font28px;
			font-weight: 700;
			color: white;
		}
	}
	article {
		aside.info {
			@include small-font;
			font-size: $font12px;
			color: #7a7a7a;
		}
		aside.article-messages {
			@include small-font;
			font-size: $font14px;
			a {
				text-decoration: underline;
			}
		}
		h2 {
			font-size: $font20px;
			font-weight: 700;
		}
		aside.image {
			p {
				@include small-font;
				color: $dark-grey-color;
				font-size: $font12px;
				&:first-of-type {
					margin-top: 5px;
				}
			}
		}
		aside.tags {
			color: $dark-grey-color;
			font-size: $font12px;
			h3 {
				@include heading-font;
				text-transform: uppercase;
			}
			li {
				@include small-font;
			}
		}
	}
	.login {
		font-size: $font12px;
		dl {
			dt {
				font-weight: 700;
				line-height: 1.5;
				margin-top: 5px;
			}
			dd {
				
			}
		}
	}
}

footer {
	@include small-font;
	font-size: $font11px;
	color: #828589;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: $link-visited-color;
	}
}
