$background-color: #bfbfbf;
$main-background-color: #efefef;
$dark-grey-color: #45494f;
$text-color: #383838;
$box-border-color: #ccc;
$link-color: #284D92;
$link-visited-color: darken($link-color, 10%);
$user-links-color: lighten($link-color, 10%);
$message-notice-color: #818f2f;
$message-alert-color: #8f3c2f;

$container-width: #{(1060/16)}em;
$article-width: #{(530/16)}em;
$grid-width: #{(960/16)}em;
$login-width: #{(480/16)}em;
$main-padding-left: 35px;
$main-margin-left: 35px;

$font11px: percentage(11/16);
$font12px: percentage(12/16);
$font14px: percentage(14/16);
$font16px: 100%;
$font17px: percentage(17/16);
$font18px: percentage(18/16);
$font20px: percentage(20/16);
$font28px: percentage(28/16);
$font30px: percentage(30/16);
