$background: #bfbfbf;
$container-width: #{(1060/16)}em;
$content-width: #{((530+50)/16)}em;
$info-width: #{(430/16)}em;
$main-padding-left: 50px;

$font11px: percentage(11/16);
$font28px: percentage(28/16);
$font30px: percentage(30/16);
