article, aside, footer, header, hgroup, nav, section {
  display: block;
  margin: 0; }

html, body {
  background: #bfbfbf; }

body .container {
  margin: auto;
  max-width: 66.25em;
  position: relative;
  box-shadow: #777 0px 2px 10px;
  -moz-box-shadow: #777 0px 2px 10px;
  -webkit-box-shadow: #777 0px 2px 10px;
  behavior: url(/stylesheets/PIE.htc); }

header {
  background: white; }
  header h1.title {
    padding: 1em 0 0.3em 35px;
    float: left; }
  header aside.user-links {
    float: right;
    margin-top: 10px;
    margin-right: 65px; }
    header aside.user-links ul li {
      display: inline;
      margin-left: 1em; }
  header aside.search {
    float: right;
    margin-top: 20px;
    margin-right: 65px; }
  header nav {
    clear: both; }
    header nav ul.links {
      padding: 8px 35px;
      border-top: 2px solid #efeeeb;
      border-bottom: 2px solid #efeeeb; }
      header nav ul.links ul.letters {
        padding: 0;
        border: none;
        display: inline; }
        header nav ul.links ul.letters li {
          margin-right: 0.5em; }
      header nav ul.links li {
        display: inline;
        margin-right: 1em; }

#messages {
  background: white;
  padding: 5px 0; }
  #messages #notice {
    margin: 5px 65px 5px 22px;
    padding: 10px;
    background: #efefef;
    border: 3px solid #818f2f;
    position: relative;
    box-shadow: #777 0px 2px 10px;
    -moz-box-shadow: #777 0px 2px 10px;
    -webkit-box-shadow: #777 0px 2px 10px;
    behavior: url(/stylesheets/PIE.htc);
    position: relative;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    behavior: url(/stylesheets/PIE.htc); }
  #messages #alert {
    margin: 5px 65px 5px 22px;
    padding: 10px;
    background: #efefef;
    border: 3px solid #8f3c2f;
    position: relative;
    box-shadow: #777 0px 2px 10px;
    -moz-box-shadow: #777 0px 2px 10px;
    -webkit-box-shadow: #777 0px 2px 10px;
    behavior: url(/stylesheets/PIE.htc);
    position: relative;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    behavior: url(/stylesheets/PIE.htc); }

#main {
  background: #efefef; }
  #main #content header {
    padding-left: 35px;
    background: #45494f; }
    #main #content header h1 {
      padding-top: 0.5em;
      padding-bottom: 0.2em; }
  #main #content article aside.info {
    padding-left: 35px;
    padding-top: 2px; }
    #main #content article aside.info ul li {
      display: inline;
      margin-right: 0.5em; }
      #main #content article aside.info ul li img {
        vertical-align: bottom; }
    #main #content article aside.info ul li.edit-link {
      text-transform: uppercase;
      background: #2f528f;
      padding: 1px 0.4em 0px 0.4em;
      border-radius: 3px;
      -moz-border-radius: 3px; }
      #main #content article aside.info ul li.edit-link a {
        color: white; }
  #main #content article .articletext {
    padding-left: 35px;
    max-width: 33.125em;
    padding-top: 1em;
    overflow: visible; }
    #main #content article .articletext p {
      margin-bottom: 1em; }
    #main #content article .articletext .image-wrap {
      float: right;
      position: relative;
      width: 128px; }
      #main #content article .articletext .image-wrap aside.image {
        margin-top: 6px;
        width: 228px;
        border: 1px solid #cccccc;
        padding: 5px;
        background: white; }
  #main #content article aside.article-messages {
    margin: 5px 65px 5px 22px;
    padding: 10px;
    background: #efefef;
    border: 3px solid #818f2f;
    position: relative;
    box-shadow: #777 0px 2px 10px;
    -moz-box-shadow: #777 0px 2px 10px;
    -webkit-box-shadow: #777 0px 2px 10px;
    behavior: url(/stylesheets/PIE.htc);
    position: relative;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    behavior: url(/stylesheets/PIE.htc); }
  #main #content article form.formtastic.article {
    padding-left: 35px;
    max-width: 33.125em;
    padding-top: 1em; }
    #main #content article form.formtastic.article textarea {
      width: 100%; }
  #main #content article aside.tags {
    background: white;
    border: 1px solid #cccccc;
    margin: 1em 65px 2em 35px;
    padding: 1em 14px; }
    #main #content article aside.tags ul li {
      display: inline; }
      #main #content article aside.tags ul li:after {
        content: ", "; }
      #main #content article aside.tags ul li:last-of-type:after {
        content: ""; }
  #main #content ul.alphabetic {
    padding-left: 35px; }
  #main #content .login {
    padding-left: 35px; }
    #main #content .login .facebook {
      width: 30em;
      border: 1px solid #cccccc;
      padding: 5px;
      margin: 20px 0 5px 0;
      background: white; }
      #main #content .login .facebook a {
        font-family: 'lucida grande', Tahoma, Verdana, Arial, sans-serif;
        color: #3B5998;
        background: #29447e url(http://static.ak.fbcdn.net/rsrc.php/zL/r/FGFbc80dUKj.png) no-repeat;
        background-position: 0% -210px;
        cursor: pointer;
        display: inline-block;
        padding: 0px 0px 0px 1px;
        text-decoration: none; }
        #main #content .login .facebook a span.fb-button-text {
          color: white;
          display: block;
          font-weight: bold;
          margin: 0px 1px 0px 21px;
          padding: 2px 6px 3px;
          background: #4F6AA3;
          border-bottom: 1px solid #29447E;
          border-top: 1px solid #45619D;
          text-shadow: none; }
  #main .col {
    float: left;
    display: inline;
    width: 14.875em;
    margin-right: 2px;
    background-color: #45494f; }
  #main .col.left {
    padding-left: 35px; }
  #main footer {
    padding-left: 35px;
    clear: both;
    border-top: 2px solid #45494f;
    background: white;
    height: 5em; }
    #main footer p:first-child {
      text-align: right;
      position: relative;
      margin: 2em 65px 0 0;
      padding-right: 110px; }
      #main footer p:first-child img {
        position: absolute;
        right: 0;
        top: 50%;
        height: 22px;
        margin-top: -11px; }

.clearfix:after, header:after, #main:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

body {
  font-family: "droid-serif-1", "droid-serif-2", "Cambria", Georgia, serif;
  /*	font-family: "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;*/
  /*	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", "Trebuchet MS", Utopia, "Palatino", "Palatino Linotype", serif;*/
  font-size: 100%; }

header h1.title {
  font-family: "coolvetica-1", "coolvetica-2", Helvetica, Arial, sans-serif;
  /*	font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 187.5%;
  color: #45494f; }
  header h1.title a {
    text-decoration: none; }
    header h1.title a:hover {
      text-decoration: underline; }
header aside.user-links {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 75%;
  color: #3362ba; }
header nav {
  font-weight: bold; }
  header nav a {
    text-decoration: none; }
    header nav a:hover {
      text-decoration: underline; }

#messages {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 87.5%; }

#content header h1 {
  font-size: 175%;
  font-weight: 700;
  color: white; }
#content article .articletext {
  font-size: 100%;
  line-height: 1.5; }
#content article aside.info {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 75%;
  color: #7a7a7a; }
  #content article aside.info a {
    text-decoration: none; }
    #content article aside.info a:hover {
      text-decoration: underline; }
#content article aside.article-messages {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 87.5%; }
#content article h2 {
  font-size: 125%;
  font-weight: 700; }
#content article aside.image p {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  color: #45494f;
  font-size: 75%; }
  #content article aside.image p:first-of-type {
    margin-top: 5px; }
#content article aside.tags {
  color: #45494f;
  font-size: 75%; }
  #content article aside.tags h3 {
    font-family: "Lucida Grande", Tahoma, Arial;
    /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
    text-transform: uppercase;
    font-weight: bold; }
  #content article aside.tags li {
    font-family: "Lucida Grande", Tahoma, Arial;
    /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/ }
#content .login {
  font-size: 75%; }
  #content .login dl dt {
    font-weight: 700;
    line-height: 1.5;
    margin-top: 5px; }

footer {
  font-family: "Lucida Grande", Tahoma, Arial;
  /*	font-family: Tahoma, Arial, Helvetica, sans-serif;*/
  font-size: 68.75%;
  color: #828589; }

a {
  color: #284d92; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #1d386a; }
