/*
Syntax error: Invalid CSS after "-": expected number or function, was " public/javascr..."
        on line 1 of /Users/peterhaza/Projects/Jobb/Budstikka/mime/public/stylesheets/sass/mobile-application.scss

1: - public/javascripts/typekit.js
2:     - public/javascripts/spring.js
3:     - public/javascripts/jquery/jquery-1.4.4.js

Backtrace:
/Users/peterhaza/Projects/Jobb/Budstikka/mime/public/stylesheets/sass/mobile-application.scss:1
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:813:in `expected'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:796:in `expr!'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:686:in `term'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:665:in `expr'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:462:in `simple_selector_sequence'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:443:in `_selector'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:426:in `selector'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:415:in `selector_sequence'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:332:in `ruleset'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:356:in `block_child'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:347:in `block_contents'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/scss/parser.rb:26:in `parse'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/engine.rb:213:in `_to_tree'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/engine.rb:179:in `block in to_tree'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/warden-1.0.3/lib/warden/manager.rb:35:in `block in call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/warden-1.0.3/lib/warden/manager.rb:34:in `catch'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/warden-1.0.3/lib/warden/manager.rb:34:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/peterhaza/Projects/Jobb/Budstikka/mime/app/middleware/flash_session_cookie_middleware.rb:17:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/bundler/gems/rails-ckeditor-89e1afcddece/lib/ckeditor/middleware.rb:15:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/Users/peterhaza/.rvm/gems/ruby-1.9.2-p0/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/Users/peterhaza/.passenger/standalone/3.0.0-executable-ruby1.9.2-x86_64-macosx-10.6/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"-\": expected number or function, was \" public/javascr...\"\A         on line 1 of /Users/peterhaza/Projects/Jobb/Budstikka/mime/public/stylesheets/sass/mobile-application.scss\A \A 1: - public/javascripts/typekit.js\A 2:     - public/javascripts/spring.js\A 3:     - public/javascripts/jquery/jquery-1.4.4.js"; }
