body {
  font-size: 100%;
  line-height: 1.5;
  padding-left: 35px;
  width: 33.125em;
  padding-top: 1em;
  overflow: visible;
  width: auto;
  padding: 2px; }
  body p {
    margin-bottom: 1em; }
  body ul {
    padding-left: 2em;
    margin-bottom: 1em; }
    body ul li {
      list-style-type: disc; }
  body table {
    border: 1px solid #383838; }
  body em {
    font-style: italic; }
  body strong {
    font-weight: bold; }
  body figure,
  body .image-wrap {
    position: relative;
    border: 1px solid #cccccc;
    padding: 5px;
    background: white;
    position: relative;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    behavior: url(/stylesheets/PIE.htc); }
    body figure img,
    body .image-wrap img {
      display: block; }
    body figure figurecaption,
    body figure p,
    body .image-wrap figurecaption,
    body .image-wrap p {
      display: block;
      margin-bottom: 0;
      line-height: 1em;
      font-size: 87.5%;
      font-weight: normal; }
