body {
  font-size: 100%;
  line-height: 1.5;
  width: 33.125em;
  padding-top: 1em;
  overflow: visible;
  width: auto;
  padding: 2px; }
  body p {
    margin-bottom: 1em; }
  body ul {
    padding-left: 2em;
    margin-bottom: 1em; }
    body ul li {
      list-style-type: disc; }
  body table {
    border: 1px solid #383838; }
  body em {
    font-style: italic; }
  body strong {
    font-weight: bold; }
