%section
  - @featured.each_with_index do |a, i|
    = render :partial => 'featured_article', :locals => { :a => a, :i => i}

- @article_lists.each_with_index do |list, i|
  .col{:class => ("left" if i == 0)}
    %section
      %h2= list[:title]
      %ul
        - list[:articles].each do |a|
          %li= link_to a.headword_presentation, a

%section.featured-people
  - @featured_people.each_with_index do |a, i|
    = render :partial => 'featured_article', :locals => { :a => a, :i => i}
