- unless @page.sections.blank?
  %section.featured-top
    - @page.sections.first.articles.each_with_index do |a, i|
      = render :partial => 'featured_article', :locals => { :a => a, :i => i}

- unless @article_lists.blank?
  - @article_lists.each_with_index do |list, i|
    .col{:class => ("left" if i == 0)}
      %section
        %h2= list[:title]
        %ul
          - list[:articles].each do |a|
            %li= link_to a.headword_presentation, a

- unless @page.sections.blank? || @page.sections[1].blank?
  %section.featured-bottom
    - @page.sections[1].articles.each_with_index do |a, i|
      = render :partial => 'featured_article', :locals => { :a => a, :i => i}
