= link_to @page.to_json, edit_page_path(@page)
%section
  -# @page.page_articles.section('featured').each_with_index do |a, i|
    =# render :partial => 'featured_article', :locals => { :a => a, :i => i}
