%div{:data => {:role => 'page'}}
  %div{:data => {:role => 'header'}}
    = header
    
  %div{:data => {:role => 'content'}}
    - with_format :html do
      = render :partial => "common/flash"
    = content
  
  %div{:data => {:role => 'footer'}}
    = footer