%div{:id => id, :data => {:role => 'page'}}
  -if header
    %div{:data => {:role => 'header'}}
      = header
    
  %div{:data => {:role => 'content'}}
    = render :partial => "common/flash"
    = content
  
  - if footer
    %div{:data => {:role => 'footer'}}
      = footer
