- header = capture do
  = render :partial => 'mobile/header', :locals => {:title => t('mime.mobile.title')}
  
- content = capture do
  %ul{:data => {:role => 'listview'}}
    - @page.sections.first.current_articles.each do |article|
      - a = article.article
      %li
        - unless a.medias.empty?
          = df_image_tag(a.medias.first.file.thumb("320x320#nw").url)
        = link_to a.headword, pretty_article_path(a)

= mobile_page(content, header, nil, 'home')
