%tr{:class => [(current ? 'current' : nil ), "version-number-#{version.version}"].compact.join(' ')}
  %td.version_number
    = version.version
  %td.version_date
    = l(version.updated_at)
  %td.author
    = render :partial => 'common/author_links', :locals => {:article => version}
