%aside#messages.grid_12

%script{:id => 'messages-tmpl', :type => 'text/x-jquery-tmpl'}
  {{if $item.data.flash}}
  %ul
    {{each $item.data.flash}}
    :erb
      {{if $value[0] == 'redirected_from'}}
        <li class="redirected"><%= "#{t('articles.redirected', :from => "{{html $value[1]}}")}" %></li>
      {{else}}
        <li id="${$value[0]}">{{html $value[1]}}</li>
      {{/if}}
    {{/each}}
  {{/if}}
