%nav.container_12
  %ul.grid_12
    %li
      %ul
        - %w[a b c d e f g h i j k l m n o p q r s t u v w x y z æ ø å].each do |item|
          %li>= link_to item, alphabetic_path(item)
    -# %w[bilder kart tema].each do |item|
      -# %li>= link_to item, "#TODO"
    - unless request.path == '/' || request.path == new_article_path
      %li.new>= link_to t('articles.new').mb_chars.upcase, new_article_path, :rel => 'nofollow'
