%h2= t('articles.images.upload')

.grid_2.alpha
  #upload-container{ data: { url: article_images_path }}
    #thumb-placeholder
      = image_tag("ajax-loader.gif", id: 'thumb-loader')
    = link_to("Last inn fil…", '#', id: 'upload-image')
.grid_5.omega
  = render partial: 'new_edit', locals: { image: image }
